<div class="border border-dark rounded table-info bg-warning">
    <h2 class="text-center employee-name">
        {{employee.first_name}} {{employee.last_name}}
    </h2>
    <br>
    <div class="pb-3">
        <h3 class="text-center">Timesheet</h3>
        <table class="table table-hover table-responsive employee-workinghour-table border-top">
            <thead class="table-light">
                <tr>
                    <th>Date</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            {{#each timesheetData as |shift|}}
            <tr sheet-id="{{shift.id}}">
                {{> timesheetdetails shift}}
                <td class="align-items-right bg-success">
                    <button class="editbtn edittimebtn px-3 my-1" edit-id="{{shift.id}}">Edit</button>
                    <button class="savebtn savetimebtn px-3 my-1" save-id="{{shift.id}}">Save</button>
                    <button class="cancelbtn canceltimebtn px-3 my-1" cancel-id="{{shift.id}}">Cancel</button>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

    <div>
        <h3 class="text-center">Information</h3>
        <table class="table table-hover table-responsive employee-workinghour-table border-top">
            <thead class="table-light">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Hourly Wage
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tr employee-id="{{employee.id}}">
                <td>
                    {{employee.id}}
                </td>
                <td>
                    {{employee.first_name}}
                </td>
                <td>
                    {{employee.last_name}}
                </td>
                <td>
                    $ {{employee.hourly_wage}}
                </td>
                <td class="bg-success">
                    <button class="editbtn editinfobtn px-3 my-1" edit-id="{{employee.id}}">Edit</button>
                    <button class="savebtn saveinfobtn px-3 my-1" save-id="{{employee.id}}">Save</button>
                    <button class="cancelbtn cancelinfobtn px-3 my-1" cancel-id="{{employee.id}}">Cancel</button>
                    <button class="dltbtn dltinfobtn px-3 my-1" destroy-id="{{employee.id}}">Delete</button>
                </td>
            </tr>
        </table>
    </div>
    <script src="/js/viewemployee-info.js"></script>
    {{#if timesheetData}}
    <script src="/js/viewemployee-timesheet.js"></script>
    {{/if}}
</div>
